.header { min-height: 20vh;
		width: 100%;
		background-image: url("lb1.jpg");
		background-position: center;
		background-size: cover;
		position: relative;
		margin-bottom: 40px;
}
nav{
	display: flex;
	padding: 2% 4%;
	justify-content: space-between;
	align-items: center;
	border: none;
}
nav h1 {
	padding: 15px 0px;
	font-size: 25px;
	color: #fff;
	z-index: 1;
	font: 'Poppins', sans-serif;
}
.nav-links{
	flex: 1;
	text-align: right;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
	color: #fff;
	z-index:1 ;
	font-size: 16px;
	font: 'Comfortaa', cursive;
}
.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background:#e18c37;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.nav-links ul li:hover::after{
	width: 100%
}
}
body {background-color: #D3D3D3;

}
h2 { color: 	rgb(249, 0, 255);
	 font-family : "Cambria", Serif;
	 font-size : 35px;
	 text-align: left;
	 margin: 25px 25px 25px 25px;
	 padding-bottom: 10px;
	 padding-left: 10px;
	 padding-right: 10px;
	 padding-top: 10px;
}
h3 { text-align: center;
	 text-decoration: underline;
}
p { text-align: justify;
	color: 	rgb(249, 0, 255);
	background-color: dark-gray;
	margin: 25px 25px 25px 25px;
	padding-top: 5px;
	padding-right: 30px;
	padding-bottom: 5px;
	padding-left: 30px;
}
tr { font-size: 20px;
	 color: 	rgb(249, 0, 255);
}
table { border-color: gray;
		border-width: 2px;
		border-style: dashed;
		padding-left: 5px;
		padding-right: 5px;
		padding-bottom: 5px;
		padding-top: 5px;
		background-color:
}
.wrap .header {
	background-image : url("bg3.jpg");
	opacity : 0.6 ;
	padding-bottom : 2px;
	padding-left : 2px;
	padding-right : 2px;
	padding-top : 2px;
}	
image { padding-top: 10px;
}


	
